html

  include ../includes/head.pug

  body
    include ../includes/header.pug

    p='Product Name: ' + name 
    p='Price: $' + price 
    p='Dimensions: ' + x + 'x' + y + 'x'+ z
    p='Stock: ' + stock 
    p='Product ID: ' + id 
    p='Reviews: ' + reviews